* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    flex-direction: column;
}
.cube {
    width: 300px;
    height: 300px;
    border: 10px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 10px;
}
.parts {
    width: 10%;
    height: 10%;
}
.change {
    margin-top: 10px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #5070ff;
    font-size: 25px;
    color: cornsilk;
}
.add {
    margin-top: 10px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #5070ff;
    font-size: 25px;
    color: cornsilk;
}